.font{
    font-family:'traditional_arabic';;font-weight:100;font-size: 13px;
    }
    
    @font-face {
        font-family: 'DroidArabicKufiBold';
        src: url('/ksa_zatca_integration/static/src/fonts/DroidKufi-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
          }
    
    @font-face {
        font-family: 'DroidArabicKufiRegular';
        src: url('/ksa_zatca_integration/static/src/fonts/DroidKufi-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    .arabic{
        font-family:DroidArabicKufiRegular !important;
    }
    
.o_card_parent {
    border: 1px solid #ddd;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.o_card_parent h3 {
    font-weight: bold;
    padding-top: 5px;
    font-size: 22px;
}

.card-green {
    background: #45BD62;
    color: white;
}

.card-blue-light2 {
    background: #54c7ec;
    color: white;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.stretch-card {
}

.card-purple {
    background: #9360F7;
    color: white;
}

.card-red {
    background: #e41e3f;
    color: white;
}

.card-DarkBlue {
    background: #385898;
    color: white;
}

.card-dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    min-height: 180px;
}

.small_card-body {
    padding: 1.25rem 1.25rem;
    flex: 1 1 auto;
    min-height: 1px;
}

.card-tale {
    background-color: #7DA0FA;
    color: white;
}

.card-light-blue {
    background-color: #7978E9;
    color: white;
}

.card-light-red {
    background-color: #ff8080;
    color: white;
}

.card-gray {
    background-color: #a6a6a6;
    color: white;
}

.card-light-maroon {
    background-color: #800000;
    color: white;
}

.card-light-orange {
    background-color: #ff8c1a;
    color: white;
}

.card-sky-blue {
    background-color: #00ace6;
    color: white;
}

.width_height_100 .flex-grow-1 {
    width: 100% !important;
}

.width_height_100 button {
    width: 100% !important;
    height: 100% !important;
}
