:root {
    --color-white: #24304B;
    --color-black: #ffffff;
    --color-D9F1FD: #737791;
    --color-secondary-bg: #131B2F;
    --color-E5E7EB: #4B5563;
    --color-4B5563: #FFFFFF;
    --color-paragraph: #FFFFFF;
    --color-FFF5F5: #6789C6;
    --color-6789C6: #ffffff;
    --color-292D32: #ffffff;
    --color-bg-main: #131B2F;
    --color-FFE2E5: #2D5B6B;
    --color-FFF4DE: #563060;
    --color-DCFCE7: #4D1D46;
    --color-F3E8FF: #313967;
    --color-nav-bg: #192541;
    --color-6789C6: #6789C6;
    --color-ABC8E7: #E2E9F0;
    --color-6789C6: #6789C6;
    --color-D1D5DB: #4B5563;
    --color-placeholders: #D1D5DB;
    --color-1E1E1E: #ffffff;
    --color-secondary-bg: #131B2F;
    --color-2C2D35: #ffffff;
    --color-EDEDED: #4B5563;
    --color-FBFBFB: #4B5563;
    --color-EAECF0: #4B5563;
    --color-CDAAAA: #4B5563;
    --color-737791: #ffffff;
    --color-F5F8FB: #131B2F;
    --color-secondary-main: #6789C6;
    --color-white-7D5570: #7D5570;
    --color-E7495E-6789C6: #6789C6;
    --color-black-2E3E61: #2E3E61;
    --color-4B5563-transparent: #4B5563;
    --color-white-2E3E61: #2E3E61;
    --color-E5E7EB-transparent: transparent;
    --color-FFF5F5-24304B: #24304B;
    --color-FFF5F5-425278: #425278;
    --color-E7495E-transparent: transparent;
    --color-D9F1FD-313967: #313967;
    --color-c4e4f3: #454e83;
    --color-bg-main-164E63: #164E63;
    --color-white-222B3F: #222B3F;
    --color-F5F8FB-131B2F: #131B2F;
    --color-white-222B3F: #222B3F;
    --color-6789C6-white: #ffffff;
    --color-black-white: #ffffff;
    --color-white-131B2F: #131B2F;
    --color-FFF5F5-white: #ffffff;
    --color-white-131B2F: #131B2F;
    --color-FFF5F5-24304B: #24304B;
    --color-E7495E-6789C6: #6789C6;
    --color-bg-main-2E3E61: #2E3E61;
    --color-FFF5F5-131B2F: #131B2F;
    --color-7D5570-imp: #7D5570;
    --color-secondary-bg-24304B: #24304B;
    --color-white-222B3F: #222B3F;
    --color-24304B-imp: #24304B;
    --color-FFF5F5-6789C6: #6789C6;
    --color-white-24304B: #24304B;
}


@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--color-transparent) !important;
        border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-D1D5DB) !important;
        border-radius: 12px;
    }
}