.zatca-flags *{
    margin: 0px 5px 0px 5px !important;
    line-height: 35px !important;
}
.customer_zatca_note.btn-light:hover {
  color: #495057 ;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.pos-receipt .pos-receipt-qrcode {
  display: block;
  margin: 0 auto;
}